# Sorting

In [ ]:
import polars as pl

csv_file = 'Titanic.csv'

df = pl.read_csv(csv_file)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley      ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor…            ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

### Sorting a DataFrame

We can sort a DataFrame object on a column with the sort method.

In [ ]:
# An auxillary step to display the first 2 and last 2 rows when printing a DataFrame

pl.Config.set_tbl_rows(4)

df.sort('Age')

shape: (891, 12)
┌─────────────┬──────────┬────────┬───────────────────────┬───┬────────┬────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                  ┆ … ┆ Ticket ┆ Fare   ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                   ┆   ┆ ---    ┆ ---    ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                   ┆   ┆ str    ┆ f64    ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════════╪═══╪════════╪════════╪═══════╪══════════╡
│ 6           ┆ 0        ┆ 3      ┆ Moran, Mr. James      ┆ … ┆ 330877 ┆ 8.4583 ┆ null  ┆ Q        │
│ 18          ┆ 1        ┆ 2      ┆ Williams, Mr. Charles ┆ … ┆ 244373 ┆ 13.0   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Eugene                ┆   ┆        ┆        ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                     ┆ … ┆ …      ┆ …      ┆ …     ┆ …        │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr. Johan   ┆ … ┆ 347060 ┆ 7.775  ┆ null  ┆ S        │
│ 631         ┆ 1        ┆ 1      ┆ Barkworth, Mr.        ┆ … ┆ 27042  ┆ 30.0   ┆ A23   ┆ S        │
│             ┆          ┆        ┆ Algernon Henry Wi…    ┆   ┆        ┆        ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────────┴───┴────────┴────────┴───────┴──────────┘

By default the null values are at the start of the sort but we can move the nulls to the end with the nulls_last argument to sort.

We can also sort based on multiple columns with a list.

In [ ]:
df.sort(['Pclass', 'Age'])

shape: (891, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬──────────┬──────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket   ┆ Fare     ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---      ┆ ---      ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str      ┆ f64      ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪══════════╪══════════╪═══════╪══════════╡
│ 32          ┆ 1        ┆ 1      ┆ Spencer, Mrs.     ┆ … ┆ PC 17569 ┆ 146.5208 ┆ B78   ┆ C        │
│             ┆          ┆        ┆ William Augustus  ┆   ┆          ┆          ┆       ┆          │
│             ┆          ┆        ┆ (…                ┆   ┆          ┆          ┆       ┆          │
│ 56          ┆ 1        ┆ 1      ┆ Woolner, Mr. Hugh ┆ … ┆ 19947    ┆ 35.5     ┆ C52   ┆ S        │
│ …           ┆ …        ┆ …      ┆ …                 ┆ … ┆ …        ┆ …        ┆ …     ┆ …        │
│ 117         ┆ 0        ┆ 3      ┆ Connors, Mr.      ┆ … ┆ 370369   ┆ 7.75     ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick           ┆   ┆          ┆          ┆       ┆          │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr.     ┆ … ┆ 347060   ┆ 7.775    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Johan             ┆   ┆          ┆          ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴──────────┴──────────┴───────┴──────────┘

### Sorting a column with an expression

We can transform a column into sorted order with an expression. In the example below we sort all columns individually.

In [ ]:
df.select(pl.all().sort())

shape: (891, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬───────────┬──────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket    ┆ Fare     ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---       ┆ ---      ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str       ┆ f64      ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═══════════╪══════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 1      ┆ Abbing, Mr.      ┆ … ┆ 110152    ┆ 0.0      ┆ null  ┆ null     │
│             ┆          ┆        ┆ Anthony          ┆   ┆           ┆          ┆       ┆          │
│ 2           ┆ 0        ┆ 1      ┆ Abbott, Mr.      ┆ … ┆ 110152    ┆ 0.0      ┆ null  ┆ null     │
│             ┆          ┆        ┆ Rossmore Edward  ┆   ┆           ┆          ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …         ┆ …        ┆ …     ┆ …        │
│ 890         ┆ 1        ┆ 3      ┆ van Billiard,    ┆ … ┆ WE/P 5735 ┆ 512.3292 ┆ G6    ┆ S        │
│             ┆          ┆        ┆ Mr. Austin       ┆   ┆           ┆          ┆       ┆          │
│             ┆          ┆        ┆ Blyler           ┆   ┆           ┆          ┆       ┆          │
│ 891         ┆ 1        ┆ 3      ┆ van Melkebeke,   ┆ … ┆ WE/P 5735 ┆ 512.3292 ┆ T     ┆ S        │
│             ┆          ┆        ┆ Mr. Philemon     ┆   ┆           ┆          ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴───────────┴──────────┴───────┴──────────┘

### Taking advantage of sorted data (Fast Track algorithm)

For some operations polars can use a fast track algorithm if it knows the data in a column is sorted. For example, if we want the max value on a sorted column we just take the last non-null value. You can easily check if Polars thinks a column is sorted with the flags attribute.

In [ ]:
df['PassengerId'].flags

{'SORTED_ASC': False, 'SORTED_DESC': False}

Since in this case polars doesn't think the PassengerID column is sorted the fast track algorithm won't be applied.

### Setting the sorted status

If we know that a column is sorted then we can let Polars know using set_sorted method. Alternatively, if we use the sorting operation on a column with the .sort method, the flag will be applied automatically (either ascending or descending order).

In [ ]:
# Setting the flafs manually
df = df.with_column(pl.col('PassengerId').set_sorted())

df['PassengerId'].flags

<ipython-input-12-2851e012ca4a>:1: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  df = df.with_column(pl.col('PassengerId').set_sorted())

{'SORTED_ASC': True, 'SORTED_DESC': False}

In [ ]:
# Automated flag ascending

df = pl.read_csv(csv_file).sort('PassengerId')
df['PassengerId'].flags

{'SORTED_ASC': True, 'SORTED_DESC': False}

In [ ]:
# Automated flag descending

df = pl.read_csv(csv_file).sort('PassengerId', descending = True)
df['PassengerId'].flags

{'SORTED_ASC': False, 'SORTED_DESC': True}