### [ ] Column indexing

The traditional pandas [] column indexing is also possible in polars. The output depends on whether a single or a double set of square brackets is used.
* [] - outputs a Series
* [[ ]] - outputs a DataFrame

In [ ]:
import polars as pl

csv_file = 'Titanic.csv'

df = pl.read_csv(csv_file)
df.head(3)

In [ ]:
# A Series output

df['Age'].head(3)

shape: (3,)
Series: 'Age' [f64]
[
	22.0
	38.0
	26.0
]

In [ ]:
# A DataFrame output

df[['Survived', 'Age']].head(3)

shape: (3, 2)
┌──────────┬──────┐
│ Survived ┆ Age  │
│ ---      ┆ ---  │
│ i64      ┆ f64  │
╞══════════╪══════╡
│ 0        ┆ 22.0 │
│ 1        ┆ 38.0 │
│ 1        ┆ 26.0 │
└──────────┴──────┘

### Simultaneous rows and columns selection

Unlike pandas, polars supports simultaneous rows and columns selection with [ ] synthax. It interprets the values provided in square brackets as a tuple. For example:

In [ ]:
# Retrun the value of the first row of the Age column

df[0, "Age"]

22.0

In [ ]:
# We get similar results with a tuple
df[(0, 'Age')]

22.0

In [ ]:
# Rows and columns indexing

df[[0, 1], ['Age', 'Fare']]

shape: (2, 2)
┌──────┬─────────┐
│ Age  ┆ Fare    │
│ ---  ┆ ---     │
│ f64  ┆ f64     │
╞══════╪═════════╡
│ 22.0 ┆ 7.25    │
│ 38.0 ┆ 71.2833 │
└──────┴─────────┘

The basic rules are as following:
* if we pass just numeric values we get rows
* if we pass just strings we get columns
* if we pass a tuple like [numeric, string] we get rows and columns

The numeric indexing for columns is also possible when we use a tuple:

In [ ]:
df[:, 1:6].head(3)

shape: (3, 5)
┌──────────┬────────┬───────────────────────────────────┬────────┬──────┐
│ Survived ┆ Pclass ┆ Name                              ┆ Sex    ┆ Age  │
│ ---      ┆ ---    ┆ ---                               ┆ ---    ┆ ---  │
│ i64      ┆ i64    ┆ str                               ┆ str    ┆ f64  │
╞══════════╪════════╪═══════════════════════════════════╪════════╪══════╡
│ 0        ┆ 3      ┆ Braund, Mr. Owen Harris           ┆ male   ┆ 22.0 │
│ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Flor… ┆ female ┆ 38.0 │
│ 1        ┆ 3      ┆ Heikkinen, Miss. Laina            ┆ female ┆ 26.0 │
└──────────┴────────┴───────────────────────────────────┴────────┴──────┘

### Slicing

Polars also suports slicing for both rows and columns dimensions.

In [ ]:
df[:2, 'Survived': 'Age']

shape: (2, 5)
┌──────────┬────────┬───────────────────────────────────┬────────┬──────┐
│ Survived ┆ Pclass ┆ Name                              ┆ Sex    ┆ Age  │
│ ---      ┆ ---    ┆ ---                               ┆ ---    ┆ ---  │
│ i64      ┆ i64    ┆ str                               ┆ str    ┆ f64  │
╞══════════╪════════╪═══════════════════════════════════╪════════╪══════╡
│ 0        ┆ 3      ┆ Braund, Mr. Owen Harris           ┆ male   ┆ 22.0 │
│ 1        ┆ 1      ┆ Cumings, Mrs. John Bradley (Flor… ┆ female ┆ 38.0 │
└──────────┴────────┴───────────────────────────────────┴────────┴──────┘

### Column creationg with [ ] indexing

In polars it is **NOT possible** to create a new column with [ ] indexing. Instead, we can use the with_column() method like in PySpark.

### Select method

A more spark-like alternative is to use the .select method on a dataframe. The importand distinction is that the output of a Select statement is always a DataFrame rather than a Series even if a single column is selected.

In [ ]:
df.select('Age').head(3)

shape: (3, 1)
┌──────┐
│ Age  │
│ ---  │
│ f64  │
╞══════╡
│ 22.0 │
│ 38.0 │
│ 26.0 │
└──────┘

If a series is requires, we can use the to_series method explicitly. Notice the differnce in shape.

In [ ]:
df.select('Age').to_series().head(3)

shape: (3,)
Series: 'Age' [f64]
[
	22.0
	38.0
	26.0
]

A simultaneous column list selection is also supported by polars.

In [ ]:
df.select(['Survived', 'Age']).head(3)

shape: (3, 2)
┌──────────┬──────┐
│ Survived ┆ Age  │
│ ---      ┆ ---  │
│ i64      ┆ f64  │
╞══════════╪══════╡
│ 0        ┆ 22.0 │
│ 1        ┆ 38.0 │
│ 1        ┆ 26.0 │
└──────────┴──────┘

### Differences between using select method and [ ]

* [] indexing can only be used in eager mode, while select is supported in both eager and lazy mods.
* The expressions in select can be optimized in lazy mode by the query optimizer
* Multiple expressions in select can run in parallel

Also, as we saw before, columns in the select method can be accessd with an expression using pl.col synthax. Aside from synthactic differences, the expression API also has advantages because we can apply a transformation to a column before we output it.

In [ ]:
# A simple select with expression

df.select(pl.col('Age')).head(3)

shape: (3, 1)
┌──────┐
│ Age  │
│ ---  │
│ f64  │
╞══════╡
│ 22.0 │
│ 38.0 │
│ 26.0 │
└──────┘

In [ ]:
# Using the expression API with a column transformation

df.select(pl.col('Fare').round(0)).head(3)

shape: (3, 1)
┌──────┐
│ Fare │
│ ---  │
│ f64  │
╞══════╡
│ 7.0  │
│ 71.0 │
│ 8.0  │
└──────┘

In [ ]:
# The list expressions are also available

df.select([pl.col('Fare'), pl.col('Fare').round(0).alias('roundedFare')]).head(3)

shape: (3, 2)
┌─────────┬─────────────┐
│ Fare    ┆ roundedFare │
│ ---     ┆ ---         │
│ f64     ┆ f64         │
╞═════════╪═════════════╡
│ 7.25    ┆ 7.0         │
│ 71.2833 ┆ 71.0        │
│ 7.925   ┆ 8.0         │
└─────────┴─────────────┘

### Selecting columns in lazy mode

If we apply the select method in lazy mode, it changes the PROJECT part of the optimized query plan. In the example below it means that polars only loads the Survived and Age columns into memory when reading the CSV file. **Reducing the number of columns read also reduces the time and memory usage.**

In [1]:
df = pl.scan_csv(csv_file).select(['Survived', 'Age'])
df

NameError: name 'pl' is not defined

### **Selecting all columns from a DataFrame**

We can select all columns by replacing pl.col with pl.call in out expression API call.

In [ ]:
df = pl.read_csv(csv_file)

df.select(pl.all().head(3))

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley      ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor…            ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

Excluding a column from selection is just as simple with the exclude method.

In [ ]:
df.select(pl.all().exclude(['PassengerId', 'Survived', 'Pclass'])).head(3)

shape: (3, 9)
┌──────────────────────┬────────┬──────┬───────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ Name                 ┆ Sex    ┆ Age  ┆ SibSp ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---                  ┆ ---    ┆ ---  ┆ ---   ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ str                  ┆ str    ┆ f64  ┆ i64   ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞══════════════════════╪════════╪══════╪═══════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ Braund, Mr. Owen     ┆ male   ┆ 22.0 ┆ 1     ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ Harris               ┆        ┆      ┆       ┆   ┆                  ┆         ┆       ┆          │
│ Cumings, Mrs. John   ┆ female ┆ 38.0 ┆ 1     ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ Bradley (Flor…       ┆        ┆      ┆       ┆   ┆                  ┆         ┆       ┆          │
│ Heikkinen, Miss.     ┆ female ┆ 26.0 ┆ 0     ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
│ Laina                ┆        ┆      ┆       ┆   ┆                  ┆         ┆       ┆          │
└──────────────────────┴────────┴──────┴───────┴───┴──────────────────┴─────────┴───────┴──────────┘

### Selecting columns with a regex

We can select columns with a regex - if the regex starts with ^ and ends with $. For example, the following regex looks for columns starting with P and uses the regex wildcard .* to show P can be followed by any characters. Note that polars has an incorporated "understanding" of regular expressions and there is no need to import additional dependencies.

In [ ]:
df.select("^P.*$").head(3)

shape: (3, 3)
┌─────────────┬────────┬───────┐
│ PassengerId ┆ Pclass ┆ Parch │
│ ---         ┆ ---    ┆ ---   │
│ i64         ┆ i64    ┆ i64   │
╞═════════════╪════════╪═══════╡
│ 1           ┆ 3      ┆ 0     │
│ 2           ┆ 1      ┆ 0     │
│ 3           ┆ 3      ┆ 0     │
└─────────────┴────────┴───────┘

In [ ]:
# Example of a regex with further column transformation

df.select(pl.col('^P.*$').max()).head(3)

shape: (1, 3)
┌─────────────┬────────┬───────┐
│ PassengerId ┆ Pclass ┆ Parch │
│ ---         ┆ ---    ┆ ---   │
│ i64         ┆ i64    ┆ i64   │
╞═════════════╪════════╪═══════╡
│ 891         ┆ 3      ┆ 6     │
└─────────────┴────────┴───────┘

### Selecting columns based on dtype

We can select all the columns that have a particular data type by passing the dtype parameter to pl.col. For example:

In [ ]:
# selecting all the string columns

df.select(pl.col(pl.Utf8)).head(3)

shape: (3, 5)
┌───────────────────────────────────┬────────┬──────────────────┬───────┬──────────┐
│ Name                              ┆ Sex    ┆ Ticket           ┆ Cabin ┆ Embarked │
│ ---                               ┆ ---    ┆ ---              ┆ ---   ┆ ---      │
│ str                               ┆ str    ┆ str              ┆ str   ┆ str      │
╞═══════════════════════════════════╪════════╪══════════════════╪═══════╪══════════╡
│ Braund, Mr. Owen Harris           ┆ male   ┆ A/5 21171        ┆ null  ┆ S        │
│ Cumings, Mrs. John Bradley (Flor… ┆ female ┆ PC 17599         ┆ C85   ┆ C        │
│ Heikkinen, Miss. Laina            ┆ female ┆ STON/O2. 3101282 ┆ null  ┆ S        │
└───────────────────────────────────┴────────┴──────────────────┴───────┴──────────┘

### Transforming an existing column

We can transform an existing column by passing the column to with_column. Note that the transformation is not done inplace.

In [ ]:
df.with_column(pl.col('Fare').round(0)).head(3)

<ipython-input-34-f18d7628f44c>:1: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  df.with_column(pl.col('Fare').round(0)).head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬──────────────────────┬───┬───────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                 ┆ … ┆ Ticket    ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                  ┆   ┆ ---       ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                  ┆   ┆ str       ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════════╪═══╪═══════════╪══════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen     ┆ … ┆ A/5 21171 ┆ 7.0  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris               ┆   ┆           ┆      ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John   ┆ … ┆ PC 17599  ┆ 71.0 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Flor…       ┆   ┆           ┆      ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.     ┆ … ┆ STON/O2.  ┆ 8.0  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina                ┆   ┆ 3101282   ┆      ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────────┴───┴───────────┴──────┴───────┴──────────┘

Alternatively, we can add a new column based on an existing columns, essentially transforming it and using a new alias. Note that using alias doesn't just rename the column but ensures that a new column is created while the old column also remains untouched.

In [ ]:
df.with_column(pl.col('Fare').round(0).alias('roundFare')).head(3)

<ipython-input-35-979f38b65d86>:1: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  df.with_column(pl.col('Fare').round(0).alias('roundFare')).head(3)

shape: (3, 13)
┌─────────────┬──────────┬────────┬───────────────────┬───┬─────────┬───────┬──────────┬───────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ roundFare │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---       │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ f64     ┆ str   ┆ str      ┆ f64       │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═════════╪═══════╪══════════╪═══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 7.0       │
│             ┆          ┆        ┆ Harris            ┆   ┆         ┆       ┆          ┆           │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 71.0      │
│             ┆          ┆        ┆ John Bradley      ┆   ┆         ┆       ┆          ┆           │
│             ┆          ┆        ┆ (Flor…            ┆   ┆         ┆       ┆          ┆           │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 8.0       │
│             ┆          ┆        ┆ Laina             ┆   ┆         ┆       ┆          ┆           │
└─────────────┴──────────┴────────┴───────────────────┴───┴─────────┴───────┴──────────┴───────────┘

**Polars does NOT support adding new columns with the [ ] indexing!**

A few major differences between using the select method and using the with_column method include:
* The select method returns a subset of the columns, while with_column method returns all columns.
* with_column accepts expressions but not strings

Column arithmetic is also available when using the corresponding expression.

In [ ]:
# Arithmetic expression on a single column

df.with_column((pl.col('Fare') * 2).alias('doubleFare')).head(3)

<ipython-input-37-b06e8d0b045d>:1: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  df.with_column((pl.col('Fare') * 2).alias('doubleFare')).head(3)

shape: (3, 13)
┌─────────────┬──────────┬────────┬──────────────────┬───┬─────────┬───────┬──────────┬────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ doubleFare │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---        │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ f64     ┆ str   ┆ str      ┆ f64        │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═════════╪═══════╪══════════╪════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 14.5       │
│             ┆          ┆        ┆ Harris           ┆   ┆         ┆       ┆          ┆            │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 142.5666   │
│             ┆          ┆        ┆ John Bradley     ┆   ┆         ┆       ┆          ┆            │
│             ┆          ┆        ┆ (Flor…           ┆   ┆         ┆       ┆          ┆            │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 15.85      │
│             ┆          ┆        ┆ Laina            ┆   ┆         ┆       ┆          ┆            │
└─────────────┴──────────┴────────┴──────────────────┴───┴─────────┴───────┴──────────┴────────────┘

In [ ]:
# Arithmetic expression on multiple columns and their combination

df.with_column((pl.col('Fare') + pl.col('Age')).alias('farePlusAge')).head(3)

<ipython-input-38-406a515956b2>:3: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  df.with_column((pl.col('Fare') + pl.col('Age')).alias('farePlusAge')).head(3)

shape: (3, 13)
┌─────────────┬──────────┬────────┬─────────────────┬───┬─────────┬───────┬──────────┬─────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name            ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ farePlusAge │
│ ---         ┆ ---      ┆ ---    ┆ ---             ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---         │
│ i64         ┆ i64      ┆ i64    ┆ str             ┆   ┆ f64     ┆ str   ┆ str      ┆ f64         │
╞═════════════╪══════════╪════════╪═════════════════╪═══╪═════════╪═══════╪══════════╪═════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr.     ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 29.25       │
│             ┆          ┆        ┆ Owen Harris     ┆   ┆         ┆       ┆          ┆             │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.   ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 109.2833    │
│             ┆          ┆        ┆ John Bradley    ┆   ┆         ┆       ┆          ┆             │
│             ┆          ┆        ┆ (Flor…          ┆   ┆         ┆       ┆          ┆             │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen,      ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 33.925      │
│             ┆          ┆        ┆ Miss. Laina     ┆   ┆         ┆       ┆          ┆             │
└─────────────┴──────────┴────────┴─────────────────┴───┴─────────┴───────┴──────────┴─────────────┘

Adding a new column with a constant value with the lit method:

In [ ]:
df.with_column(pl.lit('yes').alias('Aboard')).select(['Name', 'Aboard']).head(3)

<ipython-input-39-245c5dffb3c5>:1: DeprecationWarning: `DataFrame.with_column` has been renamed; this redirect is temporary, please use `.with_columns` instead
  df.with_column(pl.lit('yes').alias('Aboard')).select(['Name', 'Aboard']).head(3)

shape: (3, 2)
┌───────────────────────────────────┬────────┐
│ Name                              ┆ Aboard │
│ ---                               ┆ ---    │
│ str                               ┆ str    │
╞═══════════════════════════════════╪════════╡
│ Braund, Mr. Owen Harris           ┆ yes    │
│ Cumings, Mrs. John Bradley (Flor… ┆ yes    │
│ Heikkinen, Miss. Laina            ┆ yes    │
└───────────────────────────────────┴────────┘

### Adding a column based on a condition on another column

In this example we add a new binary column called firstClass based on the Pclass column where the value 1 for first class passengers and 0 for second and third class passengers. In order to implement the condition we chain together the when, then and otherwise methods. Note that to limit the number of columns output we can use the select method here.

In [ ]:
df.select([pl.col('Pclass'), pl.when(pl.col('Pclass') == 1).then(1).otherwise(0).alias('firstClass')]).head(3)

shape: (3, 2)
┌────────┬────────────┐
│ Pclass ┆ firstClass │
│ ---    ┆ ---        │
│ i64    ┆ i32        │
╞════════╪════════════╡
│ 3      ┆ 0          │
│ 1      ┆ 1          │
│ 3      ┆ 0          │
└────────┴────────────┘

### Synthax om pl.when

`pl.when(**Boolean Expression**).then(**Value if True**).otherwise(**Value if False**).alias(**New Column Name**)`

Similarly, we can add a new column which is based on conditions of multiple other columns. We do this with a combined filtering using () & () in pl.when.

In [ ]:
    df.select(\
              
    [pl.col('Pclass'), 
     pl.col('Age'), 
     pl.when((pl.col('Pclass') == 1) & (pl.col('Age') < 30)).then(1).otherwise(0).alias('youngFirstClass')]

    ).tail(5)

shape: (5, 3)
┌────────┬──────┬─────────────────┐
│ Pclass ┆ Age  ┆ youngFirstClass │
│ ---    ┆ ---  ┆ ---             │
│ i64    ┆ f64  ┆ i32             │
╞════════╪══════╪═════════════════╡
│ 2      ┆ 27.0 ┆ 0               │
│ 1      ┆ 19.0 ┆ 1               │
│ 3      ┆ null ┆ 0               │
│ 1      ┆ 26.0 ┆ 1               │
│ 3      ┆ 32.0 ┆ 0               │
└────────┴──────┴─────────────────┘

### Add a new column based on an if-elif-else condition

While with the when clause we can implenet the alternative of an if-else statement, we are not limited to it. For example if we have 3 or more categories we might take the advantage of if-elif-else statement. To implement it in polars all we do is chain the .when.thencycle for each subsequent condition.

The synhtas, following the previous example analogy is as follows:

`pl.when(**Boolean Expression**)'
.then(**Value if True**)
.when(**Boolean Expression**)
.then(**Value if True**)
.otherwise(**Value if False**)
.alias(**New Column Name**)`


The when/then cycle can then be repeated indefinitely

In [ ]:
df.select(\
          [pl.col('Pclass'),
           pl.col('Age'),
           pl.when((pl.col('Pclass') == 1) & (pl.col('Age') < 30)) \
           .then(1) \
           .when((pl.col('Pclass') == 1) & (pl.col('Age') >= 30)) \
           .then(2) \
           .otherwise(0) \
           .alias('ageClass')
          ]
          
          ).head(5)

shape: (5, 3)
┌────────┬──────┬──────────┐
│ Pclass ┆ Age  ┆ ageClass │
│ ---    ┆ ---  ┆ ---      │
│ i64    ┆ f64  ┆ i32      │
╞════════╪══════╪══════════╡
│ 3      ┆ 22.0 ┆ 0        │
│ 1      ┆ 38.0 ┆ 2        │
│ 3      ┆ 26.0 ┆ 0        │
│ 1      ┆ 35.0 ┆ 2        │
│ 3      ┆ 35.0 ┆ 0        │
└────────┴──────┴──────────┘